:root {
  --primary: #092ef2;
  --font-family-sans-serif: "Nunito Sans", sans-serif;
  --font-family-monospace: "Nunito Sans", sans-serif;
}

#root {
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #FFFFFF;
  font-family: var(--font-family-sans-serif);
}

.App {
  height: 100%;
}